<!-- loader -->
<div class="loader-wrap">
  <div class="pin"></div>
  <div class="pulse"></div>
</div>
<!--  loader end -->
<!-- Main   -->
<div id="main">
  <div id="wrapper">
    <!--content -->
    <div class="content">
      <!--section -->
      <section id="sec1">
        <!-- container -->
        <div class="container">
          <!-- profile-edit-wrap -->
          <div class="profile-edit-wrap">
            <div class="row">
              <app-sidenav-bar></app-sidenav-bar>
              <div class="col-md-9">
                <div class="dashboard-list-box fl-wrap">
                  <div class="dashboard-header fl-wrap">
                    <h3>Indox</h3>
                  </div>
                  <!-- dashboard-list end-->
                  <ngb-pagination *ngIf="hasResults" [collectionSize]="residences.length" [(page)]="page"
                                  [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
                  <div *ngFor="let residence of residences" class="dashboard-list">
                    <div class="dashboard-message">
                      <div class="dashboard-listing-table-image">
                        <a (click)="singleListing()"><img src="assets/images/all/1.jpg" alt=""></a>
                      </div>
                      <div class="dashboard-listing-table-text">
                        <h4><a (click)="singleListing()">{{residence.title}}</a></h4>
                        <span class="dashboard-listing-table-address"><i class="fa fa-map-marker"></i><a  href="#">{{residence.address}}</a></span>
                        <div class="listing-rating card-popup-rainingvis fl-wrap" data-starrating2="5">
                          <span>{{residence.comments.length}} Reviews</span>
                        </div>
                        <ul class="dashboard-listing-table-opt  fl-wrap">
                          <li><a (click)="editResidence(residence.residenceId)">Edit <i class="fa fa-pencil-square-o"></i></a></li>
                          <li><a (click)="residenceDetails(residence.residenceId)">Show details <i class="fa fa-pencil-square-o"></i></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <ngb-pagination *ngIf="hasResults" [collectionSize]="residences.length" [(page)]="page"
                                  [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
                </div>
              </div>
            </div>
          </div>
          <!--profile-edit-wrap end -->
        </div>
        <!--container end -->
      </section>
    </div>
  </div>
</div>
