<div class="loader-wrap">
  <div class="pin"></div>
  <div class="pulse"></div>
</div>

<div id="main">
  <div id="wrapper">
    <div class="content">
      <div class="main-overlay"></div>
      <div class="main-register-holder">
        <div class="main-register fl-wrap">
          <div class="close-reg"><i class="fa fa-times"></i></div>
          <h3>Sign In <span>City<strong>Book</strong></span></h3>
          <div id="tabs-container">
            <ul class="tabs-menu">
              <li class="active current"><a href="#tab-1">Login</a></li>
              <li><a href="#tab-2">Register</a></li>
            </ul>
            <div class="tab">
              <div id="tab-1" class="tab-content">
                <div class="custom-form">
                  <div class="col-md-12">
                    <label>Username</label>
                    <input type="text"  class="form-control" #username/>
                  </div>
                  <div class="col-md-12">
                    <label>Password</label>
                    <input type="password" class="form-control" #password/>
                  </div>
                  <div *ngIf="showErrorMessage">
                    <h1>Invalid username and password Please try again</h1>
                  </div>
                  <button type="button" name="button" class="btn login_btn" (click)="onLogin()">Login</button>
                </div>
              </div>
              <div id="tab-2" class="tab-content" style="display: none;">
                <div class="custom-form">
                  <div class="col-md-12">
                    <label for="firstName">First Name</label>
                    <input type="text"  class="form-control" required pattern="^[a-zA-Z ]{2,30}$" #firstName/>
                  </div>
                  <div class="col-md-12">
                    <label for="lastName">Last Name</label>
                    <input type="text"  class="form-control" #lastName/>
                  </div>
                  <div class="col-md-12">
                    <label for="lastName">Phone Number</label>
                    <input type="number"  class="form-control" #phoneNumber/>
                  </div>
                  <div class="col-md-12">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" #registerUsername/>
                  </div>
                  <div class="col-md-12">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" #registerPassword/>
                  </div>
                  <div class="col-md-12">
                    <label for="email">Email</label>
                    <input type="text"  class="form-control" #email/>
                  </div>
                  <div class="col-md-12">
                    <label for="roles">Select Role : <span style="color: red">*</span></label>
                    <select class="form-control" id="bedrooms" name="no_of_bedrooms" #role>
                      <option value="0">Select Role</option>
                      <option value="HOST">Host</option>
                      <option value="TENANT">Tenant</option>
                    </select>
                  </div>
                  <button type="button" name="button" class="btn login_btn" (click)="onRegister()">Register</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
