<!--loader-->
<div class="loader-wrap" #loaderWrap>
  <div class="pin"></div>
  <div class="pulse"></div>
</div>
<!--loader end-->
<!-- Main  -->
<div id="main">
  <!--  wrapper  -->
  <div id="wrapper">
    <!-- Content-->
    <div class="content">
      <!--section -->
      <section class="scroll-con-sec hero-section" data-scrollax-parent="true" id="sec1">
        <div class="bg" data-bg="assets/images/bg/sky.jpg" data-scrollax="properties: { translateY: '200px' }"></div>
        <div class="overlay"></div>
        <div class="parallax home-slide">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="search-container">
                  <!-- Form -->
                  <h2 style="font-family: sans-serif;">Find New Home </h2>
                  <!-- Row With Forms -->
                  <div class="row with-forms">
                    <!-- Main Search Input -->
                    <div class="col-md-6 col-sm-6 col-xs-12" style="margin-top: 10px;">
                      <div class="main-search-input">
                        <input class="form-control" type="text" name="search_addr" required="" #search_addr
                               placeholder="Enter address e.g. street, city or state" value="" autocomplete="off">
                      </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12" style="margin-top: 10px;">
                      <div class="main-search-input">
                        <input class="form-control" type="number" name="visitors" required="" #visitors
                               placeholder="Number of visitors" value="" class="pac-target-input" autocomplete="off">
                      </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6" style="margin-top: 10px;">
                      <div class="main-search-input">
                        <input class="form-control" type="text" name="from_date" [(ngModel)]="arrivalDate"
                               bsDatepicker placeholder="Check in" #from_date>
                      </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6" style="margin-top: 10px;">
                      <div class="main-search-input">
                        <input class="form-control" type="text" name="to_date" [(ngModel)]="departureDate"
                               bsDatepicker placeholder="Check out" #to_date>
                      </div>
                    </div>

                    <div class="col-md-2 col-sm-12 col-xs-12" style="margin-top: 10px;">
                      <button class="button" style="height: 58px;width: 150px;" id="search" (click)="search($event)">
                        <i class="fa fa-search">&nbsp;SEARCH</i>
                      </button>
                    </div>
                  </div>


                  <!-- Row With Forms / End -->
                  <!-- Browse Jobs -->
                  <div class="adv-search-btn">

                  </div>
                  <!-- Announce -->
                  <div class="announce">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--        <div class="hero-section-wrap fl-wrap">-->
        <!--          <div class="container">-->
        <!--            <div class="intro-item fl-wrap">-->
        <!--              <h2>Welcome!</h2>-->
        <!--              <h3>Find great places to stay.</h3>-->
        <!--            </div>-->
        <!--            <div class="main-search-input-wrap">-->
        <!--              <div class="main-search-input fl-wrap">-->
        <!--                <div class="col-md-4 col-sm-6 col-xs-12" style="margin-top: 10px;">-->
        <!--                  <div class="main-search-input">-->
        <!--                    <input type="text" name="search_addr" required="" id="pac-input" placeholder="Enter address e.g. street, city or state" value="" class="pac-target-input" autocomplete="off">-->
        <!--                  </div>-->
        <!--                </div>-->

        <!--                <div class="col-md-2 col-sm-6 col-xs-6" style="margin-top: 10px;">-->
        <!--                  <div class="main-search-input">-->
        <!--                    <input type="text" name="from_date" onchange="set_to_date();" placeholder="Check in" value="" id="from_date">-->
        <!--                  </div>-->
        <!--                </div>-->

        <!--                <div class="col-md-2 col-sm-6 col-xs-6" style="margin-top: 10px;">-->
        <!--                  <div class="main-search-input">-->
        <!--                    <input name="to_date" type="text" onchange="check_to_date();" placeholder="Check out" value="" id="to_date">-->

        <!--                  </div>-->
        <!--                </div>-->
        <!--&lt;!&ndash;                <div class="main-search-input-item location" id="autocomplete-container">&ndash;&gt;-->
        <!--&lt;!&ndash;                  <input data-theme="my-style" type="text" placeholder="Location" id="autocomplete-input" value=""/>&ndash;&gt;-->
        <!--&lt;!&ndash;                </div>&ndash;&gt;-->
        <!--&lt;!&ndash;                <div class="main-search-input-item location" id="autocomplete-location">&ndash;&gt;-->
        <!--&lt;!&ndash;                  <input data-theme="my-style" type="text" placeholder="#People" id="autocomplete-input-location" value=""/>&ndash;&gt;-->
        <!--&lt;!&ndash;                </div>&ndash;&gt;-->
        <!--&lt;!&ndash;                <div class="form-group">&ndash;&gt;-->
        <!--&lt;!&ndash;                  <label for="arrivalDate">Arrival Date</label>&ndash;&gt;-->
        <!--&lt;!&ndash;                  <input type="arrivalDate" formControlName="arrivalDate" class="form-control"&ndash;&gt;-->
        <!--&lt;!&ndash;                         [(ngModel)]="arrivalDate" type="date"/>&ndash;&gt;-->
        <!--&lt;!&ndash;                </div>&ndash;&gt;-->
        <!--                <button class="main-search-button" onclick="window.location.href='add-listings-half-screen-map-list.html'">-->
        <!--                  Search-->
        <!--                </button>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->
        <div class="bubble-bg"></div>
        <div class="header-sec-link">
          <div class="container"><a href="#sec2" class="custom-scroll-link">Let's Start</a></div>
        </div>
      </section>
      <!-- section end -->
      <!--section -->
      <section class="gray-section" *ngIf="hasResults">
        <div class="container">
          <div class="section-title">
            <h2>Popular listings</h2>
            <div class="section-subtitle">Best Listings</div>
            <span class="section-separator"></span>
          </div>
        </div>
        <!-- carousel -->
        <div class="list-carousel fl-wrap card-listing ">
          <!--listing-carousel-->
          <div class="listing-carousel  fl-wrap ">
            <!--slick-slide-item-->
            <div *ngFor="let residence of residences" class="slick-slide-item">
              <!-- listing-item -->
              <div class="listing-item">
                <article class="geodir-category-listing fl-wrap">
                  <div class="geodir-category-img">
                    <img src="assets/images/all/1.jpg" alt="">
                    <div class="overlay"></div>
                  </div>
                  <div class="geodir-category-content fl-wrap">
                    <h3><a (click)="residenceDetails(residence.residenceId)">{{residence.title}}</a></h3>
                    <p>{{residence.description}}</p>
                    <p>${{residence.prize}}/night</p>
                    <div class="geodir-category-options fl-wrap">
                      <div class="listing-rating card-popup-rainingvis" data-starrating2="5">
                        <span>({{residence.comments.length}} reviews)</span>
                      </div>
                      <div class="geodir-category-location"><a href="#"><i class="fa fa-map-marker"
                                                                           aria-hidden="true"></i> {{residence.address}}
                      </a></div>
                    </div>
                  </div>
                </article>
              </div>
              <!-- listing-item end-->
            </div>
            <!--slick-slide-item end-->
          </div>
          <!--listing-carousel end-->
          <div class="swiper-button-prev sw-btn"><i class="fa fa-long-arrow-left"></i></div>
          <div class="swiper-button-next sw-btn"><i class="fa fa-long-arrow-right"></i></div>
        </div>
        <!--  carousel end-->
      </section>
      <!-- section end -->
    </div>
    <!-- Content end -->
  </div>
  <!-- wrapper end -->

  <a class="to-top"><i class="fa fa-angle-up"></i></a>
</div>
<!-- Main end -->
